html {
  font-size: 0.8rem;
}

img {
  width: 100%;
  height: auto;
}

p {
  text-align: left;
}

.App {
  text-align: center;
}

.layout-container {
  display: flex;
  flex-direction: row;
  padding: 10%;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: dimgray;
  color: white;
  padding: 5%;
}

.background-container {
  background-color: #343434;
  color: white;
}

.text-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.carousel-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.btn {
  margin: 0 4% 0 0;
}

@media (max-width: 1200px) {
  .layout-container {
    flex-direction: column;
    display: inline-flex;
    padding: 2%;
  }
  .col-md-6 {
    align-self: center;
  }
  .order1 {
    order: 100;
  }

  .order2 {
    order: 1;
  }
}

@media (max-width: 400px) {
  .carousel-container {
    flex-direction: column;
    display: inline-flex;
    padding: 2%;
  }
  .col-md-3,
  .col-md-5 {
    align-self: center;
  }
}
